{
  "name": "LangDetect",
  "label": "Language Detection",
  "description": "Provides actions for Language detection",
  "group": "",
  "artifactName": "",
  "packageVersion": "",
  "codeVersion": "",
  "commands": []
}